.archive-container {
  padding: 1.5rem;
  text-align: left;

  h2 {
    font-style: italic;
    text-align: left;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  a {
    text-decoration: none;

    div {
      line-height: 1.5rem;
      font-style: none;
    }
  }
}
