.blogs-container {
  text-align: left;
  margin-bottom: 5rem;

  h2 {
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    font-style: italic;
  }

  h1 {
    margin-bottom: 0.2rem;
  }

  span {
    color: rgb(0, 0, 0, 0.6);
  }

  p {
    font-family: "Roboto";
    font-size: 17px;
    color: rgb(0, 0, 0, 0.8);
  }

  .blog {
    margin-right: 2rem;
    border-top: 2px;
    border-bottom: 0cap;
    border-left: 0cap;
    border-right: 0cap;
    border-style: groove;
    border-color: rgb(0, 0, 0, 0.2);
  }

  .button-stack {
    margin-top: 2rem;
    button {
      font-size: medium;
      width: 6rem;
      height: 2.5rem;
      margin: 0.5rem;
      border-radius: 50px;
      border-width: 3px;
    }

    & :first-child {
      border-color: rgb(0, 132, 255);
    }
  }
}
