.featured-blogs-container {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;

  .blog-card {
    width: 48%;
    background-color: rgb(247, 243, 239);
    border-radius: 0.3rem;
    border: 2px;
    border-style: groove;
    border-color: rgb(0,0,0,0.2);
    display: flex;

    .description {
      text-align: left;
      padding-left: 2rem;

      h2 {
        margin-top: 0.5rem;
        margin-bottom: 0.1rem;
      }

      h3 {
        margin-bottom: 0rem;
      }

      span {
        color: rgb(0,0,0,0.6);
        font-size: 15px;
      }

      p {
        max-width: 20rem;
        height: 6rem;
        padding-right: 1rem;
        overflow-y: hidden;
        overflow-x: hidden;
      }
    }

    .thumbnail {
      background-color: rgb(0,0,0,0.6);
      width: 12rem;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}
