.navbar-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  border: 3px;
  border-left: 0cap;
  border-right: 0cap;
  border-style: groove;
  color: rgb(0,0,0,0.7);

  div {
    margin: 0.8rem 0rem;
    width: 100;
  }
}

@media(max-width: 800px) {
  .navbar-container {
    display: none;
  }
}