.elsewhwere-container {
  padding: 1.5rem;
  padding-top: 0.5rem;
  text-align: left;

  h2 {
    font-style: italic;
    text-align: left;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  div {
    font-style: none;

    a {
      cursor: pointer;
      color: rgb(0, 119, 255);
      line-height: 1.5rem;
      text-decoration: none;
    }
  }
}
